{% extends "layout.html" %}
{% block content %}
<center>
    <br/>
    <fieldset style="width: 600px;">
        <legend style="font-family: times; font-size:22px;"> Help</legend>
            <div style="text-align: left; font-family: times; font-size:22px;">

                insert &#8594 give a key-value pair to insert to chord<br>
            </div>
            <div style="text-align: left; font-family: times; font-size:22px;">
                delete &#8594 give a key to be deleted from chord<br>
            </div>
            <div style="text-align: left; font-family: times; font-size:22px;">
                depart &#8594 give node which will depart from chord<br>
            </div>
            <div style="text-align: left; font-family: times; font-size:22px;">
                overlay &#8594 print dht chords topology<br>
            </div>

    </fieldset>

</center>
{% endblock content %}